

<div class=npoDetails>
  <img ng-src="{{ }}" alt="{{ }}">
  <h3>{{ devItemCtrl.npo.name }}</h3>
  <h5>{{ npoItemCtrl.npo.org }}</h5>
  <span> {{ npoItemCtrl.npo.city }}</span>
  <span> {{ npoItemCtrl.npo.state }}</span>
  <span> {{ npoItemCtrl.npo.phone }}</span>
  <span> {{ npoItemCtrl.npo.desc }}</span>
  <span> {{ npoItemCtrl.npo.reviews }}</span>
  <span> {{ npoItemCtrl.npo.languages }}</span>
  <span> {{ npoItemCtrl.npo.services }}</span>
  <span> {{ npoItemCtrl.npo.website }}</span>
  <!-- TODO: DO WE NEED AN AVAILABILITY FOR NPO? -->
  <!-- <span> I am currently {{ npoItemCtrl.npo.available }}</span> -->

  <button type="button" name="button" ng-click="SOMETHING">Contact Me</button>

</div>
</div>
