@import "../../../scss/lib/theme/_vars";

.signup-Form {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.signupFields {
  text-align: center;
}





a:visited, a:focus, a:hover {
  text-decoration: none;
}

.signup {
  .input-std {
    margin-bottom: $gutter-sm;
  }

  button {
    // float: right;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
  }
}

input {
  padding: 1% 5%;
  font-size: 2vw;
  border: none;
}
