<section class="registration">

  <div class="signupFields">

    <form name="registrationForm" ng-submit="signupCtrl.signup(signupCtrl.user)" novalidate>
      <br />

      <h2>Let's get you started</h2>


        <input class="field input-std" type="text"
          name="username"
          placeholder="Username"
          ng-minlength="4"
          ng-model="signupCtrl.user.username" required>

        <input class="field input-std" type="email"
          placeholder="Email"
          ng-model="signupCtrl.user.email" required>

        <input class="field input-std" type="password" name="password"
          placeholder="Password"
          ng-minlength="3"
          ng-model="signupCtrl.user.password" required>

          <h3>Are You A...</h3>
        <h4>
          <label class="radioNpo" for="NPO"><input class="regRadios radioNpo" type="radio" ng-model="signupCtrl.user.isNPO" value="true" name="radioGroup" required> &nbsp;<b>Non Profit Organization </b> &nbsp;</label>

          <label class="radioDev" for="DEV"><input class="regRadios" type="radio" ng-model="signupCtrl.user.isDev" value="true" name="radioGroup">&nbsp;<b>Developer</b>&nbsp;</label>
        </h4>


          <div class="go-btn"><button class="registerGoBtn btn-primary">Create Account</button></div>



    </form>


      </div>
  <!-- </form>
</div> -->

  <!-- <div class="signupFields">
    <form class="signup-form"
    ng-submit="signupCtrl.signup(signupCtrl.user)"
    no-validate>
    <h2>Let's get you started.</h2>

      <input class="regField"
      type="text"
      placeholder="name"
      ng-minlength="4"
      ng-model="signupCtrl.user.username" required>

      <input class="regField"
      type="text"
      placeholder="email"
      ng-model="signupCtrl.user.email" required>

      <!-- <input class=""
      type="text"
      placeholder="email"
      ng-model="signupCtrl.user.email"> -->

      <!-- <input class="regField"
      type="password"
      placeholder="password"
      ng-minlength="3"
      ng-model="signupCtrl.user.password" required> -->



        <!-- <input type="submit" class="btn-warning btn-border-radius-small" value="SIGN UP"> -->




</section>
