.devDetails {
    // border: 1px solid black;
    // margin: %;
    margin-top: 1.5em;
    float: right;
    width: 87%;
    margin-bottom: 2em;
    position: relative;
    // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    // transition: 0.3s;
    // border-radius: 5px;
    background-color: #F5F5F5;
}

.langList, .programsList {
  column-count: 2;
  width: 40%;
  padding-left: 2%;
}


.aboutDetailDev {
  text-decoration: none;
  margin-bottom: .5%;
}

.langDetailHead {
  margin-top: 4%;
}

.webDetailHead {
  position: absolute;
  bottom: 51%;
  right: 5%;
}

.webDetailLink {
  position: absolute;
  bottom: 44%;
  right: 24.5%;
}
