.devDetails {
    margin-top: 1.5em;
    float: right;
    width: 87%;
    margin-bottom: 2em;
    position: relative;
    background-color: #F5F5F5;
    margin-right: 2%;
}

.langList, .programsList {
  column-count: 2;
  width: 40%;
  padding-left: 2%;
}

.langList label {
  margin-right: 6%;
}

.programsList label{
  margin-right: 6%;
}


.aboutDetailDev {
  text-decoration: none;
  margin-bottom: .5%;
}

.langDetailHead, .programsDetailHead {
  margin-top: 4%;
}

.webDetailHead {
  position: absolute;
  bottom: 80%;
  right: 5%;
}

.webDetailLink {
  position: absolute;
  bottom: 75%;
  right: 22.5%;
}

.rateHead{
  position: absolute;
  right: 25%;
  top: 31%;
}

.rateForm{
  position: absolute;
  right: 20%;
  top: 40%;
}

.rateLabel {
  display: block;
  margin-left: .2%;
}

.rateRadio {
  margin-right: 4%;
}

.rateBtn {
  margin-top: 10%;
}
