<div class="devDetails">
  <img ng-src="{{ }}" alt="{{ }}">
  <h3>{{ devItemCtrl.dev.name }}</h3>
  <span> {{ devItemCtrl.dev.city }}</span>
  <span> {{ devItemCtrl.dev.state }}</span>
  <span> {{ devItemCtrl.dev.zip }}</span>
  <span> {{ devItemCtrl.dev.desc }}</span>
  <span> {{ devItemCtrl.dev.reviews }}</span>
  <span> {{ devItemCtrl.dev.languages }}</span>
  <span> {{ devItemCtrl.dev.services }}</span>
  <span> {{ devItemCtrl.dev.website }}</span>
  <span> I am currently {{ devItemCtrl.dev.available }}</span>

  <button type="button" name="button" ng-click="SOMETHING">Contact Me</button>











</div>
