<!-- this is the full blown developer detail view. this will be read only  -->


<div dev="item" class="devDetails">


  <h3 class="aboutDetailHead">About Me</h3>
  <p class="aboutDetailDev"> {{ devDetailCtrl.dev.desc }}</p>


  <h3 class="langDetailHead item-label">Languages I Know</h3>
  <ul class="langList">
    <label for="JavaScript"><input type="checkbox" ng-disabled="true" name="JavaScript" ng-model="devDetailCtrl.dev.javascript">JavaScript</label>

    <label for="html"><input type="checkbox" ng-disabled="true" name="html" ng-model="devDetailCtrl.dev.html"> HTML/CSS</label>

    <label for="Angular"><input type="checkbox" ng-disabled="true" name="Angular" ng-model="devDetailCtrl.dev.angular"> Angular</label>

    <label for="React"><input type="checkbox" ng-disabled="true" name="React" ng-model="devDetailCtrl.dev.react"> React</label>

    <label for="Python"><input type="checkbox" ng-disabled="true" name="Python" ng-model="devDetailCtrl.dev.python"> Python</label>

    <label for="other"><input type="checkbox" ng-disabled="true" name="other" ng-model="devDetailCtrl.dev.otherlang"> Other</label>

  </ul>


  <h3 class="programsDetailHead item-label">Types of Programs I Build</h3>
  <ul class="programsList">
    <label for="website"><input type="checkbox" ng-disabled="true" name="website" ng-model="devDetailCtrl.dev.websitework"> Website</label>

    <label for="mobileApp"><input type="checkbox" ng-disabled="true" name="mobileApp" ng-model="devDetailCtrl.dev.mobileapp"> Mobile Apps</label>

    <label for="webApp"><input type="checkbox" ng-disabled="true" name="webApp" ng-model="devDetailCtrl.dev.webapp"> Web App</label>

    <label for="other"><input type="checkbox" ng-disabled="true" name="other" ng-model="devDetailCtrl.dev.otherwork"> Other</label>
  </ul>


  <h4 class="webDetailHead">Where You Can Find Me On the Web</h4>
  <a class="webDetailLink" href="{{devDetailCtrl.dev.website}}">{{devDetailCtrl.dev.website}}</a>


  <h3 class="rateHead" ng-if="devDetailCtrl.isNPO">Rate Me!</h3>
  <form class="rateForm" ng-if="devDetailCtrl.isNPO" ng-submit="devDetailCtrl.addDevRating(devDetailCtrl.rating)" novalidate>

    <label class="rateLabel" for="one"><input class="rateRadio" type="radio" ng-model="devDetailCtrl.rating" value="1" name="radioGroup" required> Bad</label>
    <label class="rateLabel" for="two"> <input class="rateRadio" type="radio" ng-model="devDetailCtrl.rating" value="2" name="radioGroup" required>Okay</label>
    <label class="rateLabel" for="one"><input class="rateRadio" type="radio" ng-model="devDetailCtrl.rating" value="3" name="radioGroup" required> Average</label>
    <label class="rateLabel" for="two"><input class="rateRadio" type="radio" ng-model="devDetailCtrl.rating" value="4" name="radioGroup" required> Above Average </label>
    <label class="rateLabel" for="two"><input class="rateRadio" type="radio" ng-model="devDetailCtrl.rating" value="5" name="radioGroup" required> The Greatest </label>

    <input type="submit" class="rateBtn btn btn-bm btn-primary" value="Add Your Rating">
  </form>

<contact-dev></contact-dev>



</div>
