.allDetailDemo {
  position: relative;
  background: #f8f7f6;
  border: 1px solid #D5D3D1;
  padding: 20px;
  border-radius: 6px;
}

.available {
  position: absolute;
  right: 3.688em;
  bottom: 31.125em;
}

.form-control {
  width: auto;
}

.devProfileLang,  {
  column-count: 2;
  width: 30em;
  padding-left: 0px;
}

.devProfileImage {
  margin-top: 2em;
}

.firstDemographics {
  position: relative;
  margin-bottom: 3em;
}

.secondDemographics {
  position: absolute;
  left: 22.375em;
  bottom: 13.125em;
}

.languages {
  position: absolute;
  left: 47em;
  top: 38.125em;
}

.services {
  position: absolute;
  right: 48.629em;
  top: 48.438em;
}


.descriptionText {
  display: inline-block;
}

// .services {
//   position: absolute;
//   left: 35.625em;
//   top: 72.438em;
// }



//button:hover {
// background: somthing;
// }
