.allDetailDemo {
  position: relative;
  background: #f8f7f6;
  border: 1px solid #D5D3D1;
  padding: 20px;
  border-radius: 6px;
}

.available {
  position: absolute;
  right: 3%;
  bottom: 85%;
}

.form-control {
  width: auto;
}

.devProfileLang,  {
  column-count: 2;
  width: 140%;
  padding-left: 0px;
}

.devProfileImage {
  margin-top: 2%;
}

.firstDemographics {
  margin-bottom: 3%;
}

.secondDemographics {
  position: absolute;
  left: 20%;
  bottom: 35%;
}

.languages {
  position: absolute;
  left: 45.5%;
  top: 120%;
}

.services {
  position: absolute;
  right: 47%;
  top: 153%;
}


.descriptionText {
  display: inline-block;
  resize: none;
}

.saveDevProfile {
  position: absolute;
  height: auto;
  display: inline-block;
  font-weight: 400;
  line-height: 2.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 6rem;
  font-size: 2rem;
  border-radius: .75rem;
  transition: all .2s ease-in-out;
  right: 3%;
}

.deleteDevProfile {
  position: absolute;
  right: 23%;
  background-color: #d9534f;
  display: inline-block;
  font-weight: 400;
  line-height: 2.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 6rem;
  font-size: 2rem;
  border-radius: .75rem;
  transition: all .2s ease-in-out;
}

// border-radius: 5px;


//button:hover {
// background: somthing;
// }
