<!-- this is the developer profile view. this page will allow devs  -->


<div class="devProfile">
  <section class="devProfileEdit">

    <form class="dev-profile" name="devProfile" ng-submit="devProfileCtrl.updateProfile(devProfileCtrl.dev)" no-validate>

      <h2>Username: {{ devProfileCtrl.dev.username }} </h2>

      <!-- <cl-image public-id="pjv6wpmgmklbzpgqzckb" format="jpg">
          <cl-transformation height="250" width="250" crop="thumb" gravity="face" radius="max" border="2px_solid_rgb:00390b60" />
      </cl-image> if you uncomment this, a picture of a grouper will appear -->

      <br />
      <fieldset>
        <div class="btn btn-primary" ngf-select ng-model="devProfileCtrl.dev.pic">Upload New Picture</div>
      </fieldset>
      <br />

      <fieldset>

        <span class="item-label">Name</span>
        <input type="text" name="Name" ng-model="devProfileCtrl.dev.name">
      </fieldset>

      <fieldset>
        <span class="item-label">Description</span>
        <input type="text" name="Description" ng-model="devProfileCtrl.dev.desc">
      </fieldset>

      <fieldset>
        <span class="item-label">City</span>
        <input type="text" name="Description" ng-model="devProfileCtrl.dev.city">
      </fieldset>

      <fieldset>
        <span class="item-label">State</span>
        <input type="text" name="Description" ng-model="devProfileCtrl.dev.state">
      </fieldset>

      <fieldset>
        <span class="item-label">Zip</span>
        <input type="text" name="Description" ng-model="devProfileCtrl.dev.zip">
      </fieldset>

      <fieldset>

        <span class="item-label">Phone</span>
        <input type="tel" name="Phone" ng-model="devProfileCtrl.dev.phone">
      </fieldset>

      <fieldset>
        <!-- this needs to be the average of any ratings applied to the dev -->
        <span class="item-label">My Rating</span>
        <input type="text" name="Description" ng-model="devProfileCtrl.dev.reviews">

      </fieldset>

      <fieldset>
        <span class="item-label">Languages</span>
        <input type="checkbox" name="JavaScript" ng-model="devProfileCtrl.dev.javascript"><label for="JavaScript">JavaScript</label>

        <input type="checkbox" name="html" ng-model="devProfileCtrl.dev.html"><label for="html"> HTML/CSS</label>

        <input type="checkbox" name="Angular" ng-model="devProfileCtrl.dev.angular" ><label for="Angular"> Angular</label>

        <input type="checkbox" name="React" ng-model="devProfileCtrl.dev.react"><label for="React"> React</label>

        <input type="checkbox" name="Python" ng-model="devProfileCtrl.dev.python"><label for="Python"> Python</label>

        <input type="checkbox" name="other" ng-model="devProfileCtrl.dev.otherlang"><label for="other"> Other</label>
      </fieldset>

      <fieldset>
        <span class="item-label">Services</span>
        <input type="checkbox" name="website" ng-model="devProfileCtrl.dev.websitework"><label for="website"> Website</label>
        <input type="checkbox" name="mobileApp" ng-model="devProfileCtrl.dev.mobileapp"><label for="mobileApp"> Mobile Apps</label>
        <input type="checkbox" name="webApp" ng-model="devProfileCtrl.dev.webapp"><label for="webApp"> Web App</label>
        <input type="checkbox" name="other" ng-model="devProfileCtrl.dev.otherwork"><label for="other"> Other</label>

      </fieldset>

      <fieldset>
        <span class="item-label">Website</span>
        <input type="text" name="Website" ng-model="devProfileCtrl.dev.website">
      </fieldset>

      <fieldset>
        <span class="item-label">Available</span>
        <input type="checkbox" name="Available" ng-model="devProfileCtrl.dev.available">
      </fieldset>

      <!-- This is for a brand new Dev -->
      <button type="submit" class="btn-std" ng-hide="devProfileCtrl.isNewUser">Update Profile</button>

      <!-- This is for a Dev who does not exist yet   -->
      <button type="submit" class="btn-std" ng-show="devProfileCtrl.isNewUser">Save Changes</button>
    </form>

    <button tye="button" class="btn-std" ng-click="devProfileCtrl.deleteUser()">Delete Profile</button>
  </section>

</div>
