ul {
  display: block;
}

.devFilters {
  position: absolute;
  left:0;
  display: inline;
  float: left;
  margin-left: 1%;
}

.checkbox {
  display: inline-block;
}

.filterLabel {
  display: block;
  margin-left: .2%;
}

// fieldset {
//   margin-top: 10%;
// }
@media only screen and (max-width: 1024px) and (min-width: 771px) {
  .devFilters {
    margin-top: 20%;
  }

}
@media only screen and (max-width: 770px) and (min-width: 422px) {
  .devFilters {
    margin-top: 30%;
  }
}
@media only screen and (max-width: 420px) and (min-width: 318px) {
  .devFilters {
    margin-top: 50%;
  }
}
