devListContainer {
  position: relative;
}


.devFilters {
  position: absolute;
  left:0;
  display: inline;
  float: left;
  margin-left: 1%;
}

.checkbox {
  display: inline-block;
}

label {
  display: block;
  margin-left: .2%;
}

// fieldset {
//   margin-top: 10%;
// }
