<!-- this is the primary view AFTER a search/questionnaire showing a list of matching developer "teasers" -->

<h2> test test test </h2>
<div>
  <ul>

    <!-- <dev-item ng-repeat="item in devListCtrl.dev" dev="item" | availableFilter: devlistCtrl.availCheck | jsLangFilter: devlistCtrl.jsCheck | htmlLangFilter: devlistCtrl.htmlCheck | angLangFilter: devlistCtrl.angularCheck | reactLangFilter: devlistCtrl.reactCheck | pythonLangFilter: devlistCtrl.pythonCheck | unknownLangFilter: devlistCtrl.unknownCheck | fiveRatFilter: devlistCtrl.fiveCheck | fourRatFilter: devlistCtrl.fourCheck | threeRatFilter: devlistCtrl.threeCheck | twoRatFilter: devlistCtrl.twoCheck | oneRatFilter: devlistCtrl.oneCheck | websiteFilter: devlistCtrl.websiteCheck | mobileAppFilter: devlistCtrl.mobileCheck | webAppFilter: devlistCtrl.webAppCheck | otherWorkFilter: devlistCtrl.otherWorkCheck ></dev-item> -->

  </ul>
</div>

<!-- beware, filters be below -->
<div class="devFilters">
  <h3>Filter By:</h3>
  <fieldset>
    <h4>Work Type</h4>
    <input type="checkbox" ng-model="devlistCtrl.websiteCheck" name="website"><label for="website"> Website</label>

    <input type="checkbox" ng-model="devlistCtrl.mobileCheck" name="mobile"><label for="mobile"> Mobile App</label>

    <input type="checkbox" ng-model="devlistCtrl.webAppCheck" name="webApp"><label for="webApp"> Web App</label>

    <input type="checkbox" ng-model="devlistCtrl.otherWorkCheck" name="other"><label for="other"> Other</label>
  </fieldset>

  <fieldset>
    <h4>Languages</h4>
    <input type="checkbox" ng-model="devlistCtrl.jsCheck" name="js" value="true"><label for="js" | filter: languages> JavaScript</label>

    <input type="checkbox" ng-model="devlistCtrl.htmlCheck" name="html" value="true"><label for="html" | filter: languages> HTML/CSS</label>

    <input type="checkbox" ng-model="devlistCtrl.angularCheck" name="angular" value="true" | filter: languages><label for="angular"> Angular</label>

    <input type="checkbox" ng-model="devlistCtrl.reactCheck" name="react" value="true" | filter: languages><label for="react"> React</label>

    <input type="checkbox" ng-model="devlistCtrl.pythonCheck" name="python" value="true" | filter: languages><label for="python"> Python</label>

    <input type="checkbox" ng-model="devlistCtrl.unknownCheck" name="unknown" value="true" | filter: languages><label for="unknown"> I don't know (it's ok to not know)</label>

  </fieldset>

  <fieldset>
    <h4>Reviews</h4>
    <input type="checkbox" ng-model="devlistCtrl.fiveCheck" name="five" value="true" | filter: reviews><label for="five"> Five Stars</label>

    <input type="checkbox" ng-model="devlistCtrl.fourCheck" name="four" value="true" | filter: reviews><label for="four"> Four Stars</label>

    <input type="checkbox" ng-model="devlistCtrl.threeCheck" name="three" value="true" | filter: reviews><label for="three"> Three Stars</label>

    <input type="checkbox" ng-model="devlistCtrl.twoCheck" name="two" value="true"><label for="two" | filter: reviews> Two Stars</label>

    <input type="checkbox" ng-model="devlistCtrl.oneCheck" name="one" value="true"><label for="one" | filter: reviews> One Star</label>
  </fieldset>

  <fieldset>
    <h4>Availability</h4>
    <input type="checkbox" ng-model="devlistCtrl.availCheck" name="now" value="true"><label for="now" | filter: available> Available Now</label>
  </fieldset>

</div>
