.allNpoProfile {
  position: relative;
  background: #f8f7f6;
  border: 1px solid #D5D3D1;
  padding: 20px;
  border-radius: 6px;
  width: 50%;
}

.available {
  position: absolute;
  right: 3.688em;
  bottom: 31.125em;
}

.form-control {
  width: auto;
}

.devProfileLang,  {
  column-count: 2;
  width: 30em;
  padding-left: 0px;
}

.devProfileImage {
  margin-top: 2em;
}

.firstNpoDemographics {
  position: relative;
  margin-bottom: 3em;
}

.secondNpoDemographics {
  position: absolute;
  left: 22.375em;
  bottom: 10.125em;
}

.languages {
  position: absolute;
  left: 47em;
  top: 38.125em;
}

.services {
  position: absolute;
  right: 48.629em;
  top: 48.438em;
}


.descriptionText {
  display: inline-block;
}

.saveNpoProfile {
  position: absolute;
  left: 23em;
  // border-radius: 5px;
  height: auto;
  display: inline-block;
font-weight: 400;
line-height: 2.25;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
border: 1px solid transparent;
padding: .5rem 6rem;
font-size: 2rem;
border-radius: .75rem;
// -webkit-transition: all .2s ease-in-out;
// -o-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}




//button:hover {
// background: somthing;
// }
