<div class="aboutUsPage">
  <h3 class="text-center">Meet The Team</h3>
    <div class="container">
      <!-- <div class="devPic"><img src="../../assets/img/img.png" /></div> -->
      <h4>Jonathan Daniel <a href="https://www.linkedin.com/in/jonathanrdaniel/"> <img src="../../assets/img/stock/linkedin-icon.png" alt="LinkedIn Profile" width="30" height="30" border="0"></a></h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit libero, scelerisque sit amet leo nec, posuere facilisis risus. Aenean finibus finibus nibh, at commodo dolor imperdiet pharetra. In eleifend ex et felis faucibus mollis. Praesent est nisl, tempor non nulla at, rutrum lobortis lacus. Quisque ipsum augue, vestibulum ac efficitur eget, aliquet at enim. Suspendisse potenti. Vestibulum sollicitudin massa id ornare faucibus. Aliquam erat volutpat. Nullam vitae diam sed lorem lobortis commodo. Praesent in dapibus lacus. Cras imperdiet turpis et diam consequat, nec commodo diam molestie. Cras ac risus elementum, dictum erat in, lobortis arcu.
      </p>
    </div>
    <div class="container">
      <!-- <div class="devPic"><img src="../../assets/img/img.png" /></div> -->
      <h4>JR Iriarte <a href="https://www.linkedin.com/in/frankiriarte/"><img src="../../assets/img/stock/linkedin-icon.png" alt="LinkedIn Profile" width="30" height="30" border="0"></a></h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit libero, scelerisque sit amet leo nec, posuere facilisis risus. Aenean finibus finibus nibh, at commodo dolor imperdiet pharetra. In eleifend ex et felis faucibus mollis. Praesent est nisl, tempor non nulla at, rutrum lobortis lacus. Quisque ipsum augue, vestibulum ac efficitur eget, aliquet at enim. Suspendisse potenti. Vestibulum sollicitudin massa id ornare faucibus. Aliquam erat volutpat. Nullam vitae diam sed lorem lobortis commodo. Praesent in dapibus lacus. Cras imperdiet turpis et diam consequat, nec commodo diam molestie. Cras ac risus elementum, dictum erat in, lobortis arcu.
      </p>
    </div>
    <div class="container">
      <div class="devPic"><img src="../../assets/img/coders/me.png" border="0" width="200" height="200"></div>
      <h4>Michael Bishop <a href="https://www.linkedin.com/in/michael-bishop1/"><img src="../../assets/img/stock/linkedin-icon.png" alt="LinkedIn Profile" width="30" height="30" border="0"></a></h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit libero, scelerisque sit amet leo nec, posuere facilisis risus. Aenean finibus finibus nibh, at commodo dolor imperdiet pharetra. In eleifend ex et felis faucibus mollis. Praesent est nisl, tempor non nulla at, rutrum lobortis lacus. Quisque ipsum augue, vestibulum ac efficitur eget, aliquet at enim. Suspendisse potenti. Vestibulum sollicitudin massa id ornare faucibus. Aliquam erat volutpat. Nullam vitae diam sed lorem lobortis commodo. Praesent in dapibus lacus. Cras imperdiet turpis et diam consequat, nec commodo diam molestie. Cras ac risus elementum, dictum erat in, lobortis arcu.
      </p>

    </div>
    <div class="container">
      <!-- <div class="devPic"><img src="../../assets/img/img.png" /></div> -->
      <h4>Jacob Isenberg <a href="https://www.linkedin.com/in/jisenber/"><img src="../../assets/img/stock/linkedin-icon.png" alt="LinkedIn Profile" width="30" height="30" border="0"></a></h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit libero, scelerisque sit amet leo nec, posuere facilisis risus. Aenean finibus finibus nibh, at commodo dolor imperdiet pharetra. In eleifend ex et felis faucibus mollis. Praesent est nisl, tempor non nulla at, rutrum lobortis lacus. Quisque ipsum augue, vestibulum ac efficitur eget, aliquet at enim. Suspendisse potenti. Vestibulum sollicitudin massa id ornare faucibus. Aliquam erat volutpat. Nullam vitae diam sed lorem lobortis commodo. Praesent in dapibus lacus. Cras imperdiet turpis et diam consequat, nec commodo diam molestie. Cras ac risus elementum, dictum erat in, lobortis arcu.
      </p>
    </div>
</div>

<!-- commented -->
