@import "../../scss/lib/theme/_vars";

// -------------------------Horizonal NavBar -----/
.logo img {
  width:100px;
}

ul {
  padding:0;
}

li {
  display:inline-block;
  padding: 10px 5px;
}

a {
  font-size:10px;
}

.uib-collapse, button {
  float:right;
  height:45px;
}

button {
  margin:0 !important;
}

.collapsing {
  transition-duration:2s;
}

.navbar-toggle {
  border: none;
}

.navbar {
  height: auto;
}

.navbar-nav{
  // display: inline;
  position: absolute;
  left: 0;
  margin: 0;
  top: 51%;
}

.titleText {
  text-align: center;
}

.navbar-collapse.in {
    overflow-y: hidden;
  }

.nav-container {
  position: relative;
  text-align: center;
  height: 50px;
}

.mainText {
  margin-bottom: 1%;
}

.navbar-right {
  position: absolute;
  top: 50%;
  right: 4%;
}

.btn-primary a {
  color: #777;
}

.btn-primary a:hover {
  color: black;
}


.auth {
    position: absolute;
    right: 2%;
    top: 54%;
    margin: 1%;

    background:none!important;
     color:inherit;
     border:none;
     padding:0!important;
     font: inherit;
     cursor: pointer;
}

.register {
    position: absolute;
    right: 8%;
    top: 54%;
    margin: 1%;
    background:none!important;
     color:inherit;
     border:none;
     padding:0!important;
     font: inherit;
     cursor: pointer;
}
.horizontal-collapse {
  height:50px;
}
ul{
  display: flex;
  justify-content: space-around;
}


// .navbar-text {
//   padding-right: 37%;
// }

@media only screen and (max-width: 766px) {
  .navbar-header {
    display:block;
  }
  button.auth {
    display: none;
  }
  button.register {
    display: none;
  }
  .navbar-text {
    padding-right: 37%;
  }
  li.mobile {
    display:inline-block;
  }
  li.login {
    display:inline-block;
  }

}
@media only screen and (min-width: 770px) {
  .navbar-header {
    display:block;
  }
  // button.auth {
  //   display: none;
  // }
  // button.register {
  //   display: none;
  // }
  // body {
  //   padding-top: 40px;
  // }
  .navbar-text {
    padding-right: 37%;
  }
  li.mobile {
    display:none;
  }
  li.login {
    display:none;
  }

}
@media only screen and (max-width: 320px) {

  .navbar-text {
    padding-right: 37%;
  }
  li.mobile {
    display:inline-block;
  }
  li.login {
    display:inline-block;
  }
}
