@import "../../scss/lib/theme/_vars";

.logo img {
  width:100px;
}

ul {
  padding:0;
}

li {
  display:inline-block;
  padding: 10px 5px;
}

a {
  font-size:10px;
}

.uib-collapse, button {
  float:right;
  height:45px;
}

button {
  margin:0 !important;
}

.collapsing {
  transition-duration:2s;
}

.navbar {
  height: auto;
}

.navbar-nav{
  // display: inline;
  position: absolute;
  left: 0;
  margin: 0;
  top: 51%;
}

// .navbar-header {
//   display:none;
// }

.navbar-collapse.in {
    overflow-y: hidden;
  }

.nav-container {
  position: relative;
  text-align: center;
  height: 50px;
}

.mainText {
  margin-bottom: 1%;
}

.navbar-right {
  position: absolute;
  top: 50%;
  right: 4%;
}

.btn-primary a {
  color: #777;
}

.btn-primary a:hover {
  color: black;
}


.auth {
    position: absolute;
    right: 2%;
    top: 54%;
    margin: 1%;

    background:none!important;
     color:inherit;
     border:none;
     padding:0!important;
     font: inherit;
     cursor: pointer;
}

.register {
    position: absolute;
    right: 8%;
    top: 54%;
    margin: 1%;
    background:none!important;
     color:inherit;
     border:none;
     padding:0!important;
     font: inherit;
     cursor: pointer;
}
.horizontal-collapse {
  height:50px;
}
ul{
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 768px) {
  // { body { padding-top: 40px; } }
// nav { overflow-y: hidden !important }
  .navbar-header {
    display:block;
  }
  button.auth {
    display: none;
  }
  button.register {
    display: none;
  }
  body {
    // padding-top: 40px;
  }

}
@media only screen and (max-width: 320px) {
  .titleText {
    text-align: center;
  }
  span {
    display: pull-right
  }
  .appName {
    text-decoration: underline;
    font-weight: bold;
    position: sticky;
    text-align: center;
    overflow-y: hidden;
  }
}
