<nav class="navbar">
  <div class="nav-container">
    <a class="navbar-name" href="/#/">{{ navBarCtrl.appName }}</a>

    <div ng-hide="navBarCtrl.hideButtons">
      <button ng-click="navBarCtrl.logout()" class="btn-logout">Logout</button>
      <!-- <div uib-dropdown>
        <button id="btn-append-to-body" type="button" class="btn btn-primary" uib-dropdown-toggle>
          Dropdown <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu>
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
        </ul>
      </div> -->
    </div>
  </div>
</nav>
