<nav class="navbar">
  <div class="nav-container" oninit="navBarCtrl.checkUser()">

<button class="btn btn-danger-bg" ng-hide="navBarCtrl.isUser"><a ui-sref="login">LOG IN</a></button>
<button class="btn btn-danger-bg" ng-hide="navBarCtrl.isUser"><a ui-sref="signup">SIGN UP</a></button>


    <div class="btn-group" uib-dropdown is-open="status.isopen">
      <button id="single-button" type="button" class="btn btn-primary" ng-click="navBarCtrl.checkUser()" uib-dropdown-toggle ng-disabled="disabled">
        Button dropdown <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">

        <li role="menuitem"><a ui-sref="landing">Home</a></li>
        <li class="divider" ng-if="navBarCtrl.isUser"></li>
        <li role="menuitem"><a ui-sref="edit" ng-if="navBarCtrl.isUser" ng-click="navBarCtrl.editUser()">Edit Profile</a></li>
        <li class="divider" ng-if="navBarCtrl.isUser"></li>
        <li clss="menuitem"><a ui-sref="about-us" ng-if="navBarCtrl.isUser" ng-click="navBarCtrl.aboutUs()">About Us</a></li>
        <li class="divider" ng-if="navBarCtrl.isUser"></li>
        <li role="menuitem" ng-if="navBarCtrl.isUser" ng-click="navBarCtrl.logout()"><a ui-sref="landing">Log Out</a></li>
      </ul>
      </div>
      <span ng-if="navBarCtrl.isUser"><h3>Hello {{ navBarCtrl.username }} </h3></span>
    </div>

</nav>
