<nav class="navbar">
  <div class="nav-container">
    <a class="navbar-name" href="/#/">{{ navBarCtrl.appName }}</a>
    <div ng-if="navBarCtrl.showButtons">
     <div class="btn-group" uib-dropdown is-open="status.isopen">
      <button id="single-button" type="button" class="btn btn-primary btn-warning" uib-dropdown-toggle ng-disabled="disabled">
        Button dropdown <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem" ng-click="navBarCtrl.logout()"><a href="#">Log Out</a></li>
        <li role="menuitem"><a href="#">Action</a></li>
        <li role="menuitem"><a ui-sref="landing">landing</a></li>
        <li role="menuitem"><a href="#">Another action</a></li>
        <li role="menuitem"><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li role="menuitem"><a href="#">Separated link</a></li>
      </ul>
      </div>
    </div>
  </div>
</nav>
