// @import "../../scss/lib/theme/_vars";

.drop-down-menu {
  // margin-top: $gutter-std;

  * {
    font-size: 2.5vw;
  }

  div {
    &:not(.panel-group) {
      // padding: $gutter-sm;
    }
  }

  p {
    line-height: 4vw;
  }
}

#landing-button {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// ng-style="{'background-image':'url(/static/'+imgURL+')'}"  possibly add this to the background tag in html.

.landing {
  display: flex;
  // justify-content: center
  background-image: url('../../assets/img/stock/help-images-free.jpg');
  background-repeat: no-repeat;
  border: 1vw solid #b38b6d;
  border-style: inset;
  background-size: 100%;
  margin: -5% -10% -10% -4%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  // color: white;
  width: 1280px;
  height: 853px
}
