// @import "../../scss/lib/theme/_vars";



#landing-button {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.findDevLandingBtn {
  text-align: center;
}

.lowerWrapper {
  // clear: both;
  // display: table;
  width: 100%;
  
}


.landing {
  display: flex;
  // justify-content: center
  background-image: url('../../assets/img/stock/help-images-free.jpg');
  background-repeat: no-repeat;
  border: 1vw solid #b38b6d;
  border-style: inset;
  background-size: 100%;
  margin: -5% -10% -10% -4%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  // color: white;
  width: 1280px;
  height: 853px

.tileRow {
  display: table-row;
}

.tileOne, .tileTwo, .tileThree {
  display: table-cell;
  // float: left;
  border: 1px solid black;
  // display: inline-block;
  border-spacing: 10%;
  width: 30%;

}
