@import "../../scss/lib/theme/vars";

.drop-down-menu {
  margin-top: $gutter-std;

  * {
    font-size: 2.5vw;
  }

  div {
    &:not(.panel-group) {
      padding: $gutter-sm;
    }
  }

  p {
    line-height: 4vw;
  }
}

#landing-button {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// ng-style="{'background-image':'url(/static/'+imgURL+')'}"  possibly add this to the background tag in html.

// .landing {
//   position: relative;
//   background: url('../assets/img/stock/holdingHands.png') no-repeat fixed;
//   background-size: 100%;
//   margin-bottom: 5%;
//   color: white;
//   width: auto;
// }
