<!-- this is supposed to be each "teaser" that will display on the dev list view -->


<div class="devDiv">
  <!-- <h2> DEV-ITEM.HTML COMPONENT </h2> -->
      <div class="devItem">
        <cl-image class="clImage" public-id="{{ devItemCtrl.dev.picture }}" format="jpg">
            <cl-transformation height="150" width="150" crop="crop" background="#F5F5F5" gravity="face" radius="max" border="2px_solid_rgb:00390b60" />
        </cl-image>

        <h3 class="devName">{{ devItemCtrl.dev.name }}</h3>
        <h3 class="devExp">Years Experience {{ devItemCtrl.dev.experience }}</h3>
        <h3 class="aboutHead">About Me</h3>
        <span class="aboutDev"> {{ devItemCtrl.dev.desc }}</span>
        <h3 class="langHead">Languages/skills:</h3>
        <ul class="skillsList">
        <div class="serviceList" ng-repeat="service in devItemCtrl.dev.services">
          <li class="serviceItem">{{ service | capitalizeFilter: devListCtrl.capCheck}}</li>
        </div>
      </ul>

      <button class = "viewMore btn btn-bm btn-primary"
      ng-show="devItemCtrl.showDev"
      ng-click="devItemCtrl.showLess()">View Less</button>


      <button class="viewMore btn btn-bm btn-primary"
      ng-click="devItemCtrl.showDetailView(devItemCtrl.dev)"
      type="button"
      name="ViewMore"
      ng-hide="devItemCtrl.showDev">View More</button>

      <dev-detail
      dev="devItemCtrl.selectedDev"
      ng-if="devItemCtrl.showDev">
    </dev-detail>
      </div>

      <h4 ng-if="devItemCtrl.showMsg">Please log in or Sign up to View Dev</h4>

</div>
