<!-- this is supposed to be each "teaser" that will display on the dev list view -->


<div class="devDiv">

      <div class="devItem">
        <img ng-src="{{ devItemCtrl.picture }}" alt="No picture yet">
        <h3>{{ devItemCtrl.dev.username }}</h3>
        <h3>Name: {{ devItemCtrl.dev.name }}</h2>
        <span> {{ devItemCtrl.dev.desc }}</span>
        <p>Reviews:</p>
        <span> {{ devItemCtrl.dev.reviews }}</span>
        <h2>Languages/skills:</h2>
        <div class="" ng-repeat="service in devItemCtrl.dev.services">
          <p>{{ service }}</p>
        </div>
        <span ng-if>{{ devItemCtrl.dev.javascript}}</span>
        <span>{{ devItemCtrl.dev.html}}</span>
        <span>{{ devItemCtrl.dev.angular}}</span>
        <span>{{ devItemCtrl.dev.react}}</span>
        <span>{{ devItemCtrl.dev.python}}</span>
        <span>{{ devItemCtrl.dev.otherlang}}</span>
        <!-- <span> Available: {{ devItemCtrl.dev.available }}</span> -->
        <span> Available: {{ devItemCtrl.dev.booleanKey }}</span>

        <button class="btn-std" ng-click="devItemCtrl.showDetailView()" type="button" name="ViewMore">View More</button>


      </div>
</div>
