<div class="devDiv">
  <!-- <uib-accordion> -->
    <!-- <li uib-accordion-group class="gallery-up panel-default" heading="{{galleryUpCtrl.gallery.name | uppercase}}"> -->

      <div class="" ng-if="!galleryItemCtrl.showEditGallery">

        <h3>{{ devItemCtrl.dev.name }}</h3>
        <span> {{ devItemCtrl.dev.desc }}</span>
        <span> {{ devItemCtrl.dev.reviews }}</span>
        <span> {{ devItemCtrl.dev.languages | limitTo: 4}}</span>

        <!-- <button class="btn-std" ng-click="ON CLICK IT NEEDS TO SHOW THE DEV DETAIL VIEW" type="button" name="edit">View More</button> -->



      </div>
    </li>
  <!-- </uib-accordion> -->
</div>
