<!-- this is the contact form that will allow an NPO to contact a dev -->

<div npo="item" class="contactDev">
  <section>
    <h3>Contact Me</h3>
    <form class="contact-form" name="contactDeveloper" ng-submit="" no-validate>
      <label for="organiztation">Your Company</label><input class="form-control" type="text" name="organization" value="" placeholder="{{ contactDevCtrl.nonP.org }}">
      <label for="email">Your Email</label><input class="form-control" type="text" name="email" value="" placeholder="{{ contactDevCtrl.nonP.email }}">
      <textarea class="contactDesc form-control" rows="4" cols="100" name="comment" form="usrform">
Tell me about you and your project...</textarea>

      <input type="submit" class="btn btn-bm btn-primary" value="Send">
    </form>
  </section>

</div>
