<!-- this is the NPO profile view. this page will allow edits  -->


<div class="npoDetails">
  <section class="edit">

    <form class="edit-profile" name="editProfile" ng-submit="npoProfileCtrl.updateProfile(npoProfileCtrl.npo)" no-validate>

      <h2>Username: {{ npoProfileCtrl.npo.username }} </h2>

      <fieldset>
        <span class="item-label">Organization Name</span>
        <input type="text" name="Name" ng-model="npoProfileCtrl.npo.org">
      </fieldset>

      <fieldset>
        <span class="item-label">City</span>
        <input type="text" name="City" ng-model="npoProfileCtrl.npo.city">
      </fieldset>

      <fieldset>
        <span class="item-label">State</span>
        <input type="text" name="State" ng-model="npoProfileCtrl.npo.state">
      </fieldset>

      <fieldset>
        <span class="item-label">Phone</span>
        <input type="tel" name="Phone" ng-model="npoProfileCtrl.npo.phone">
      </fieldset>

      <fieldset>
        <span class="item-label">Email</span>
        <input type="text" name="Email" ng-model="npoProfileCtrl.npo.email">
      </fieldset>

      <fieldset>
        <span class="item-label">Projects</span>
        <input type="text" name="Projects" ng-model="npoProfileCtrl.npo.projects">
      </fieldset>

      <fieldset>
        <span class="item-label">Reviews</span>
        <input type="text" name="Reviews" ng-model="npoProfileCtrl.npo.reviews">
      </fieldset>

      <fieldset>
        <span class="item-label">Developers</span>
        <input type="text" name="Developers" ng-model="npoProfileCtrl.npo.developers">
      </fieldset>
      <!-- This is for a brand new Dev -->
      <button type="submit" class="btn-std" ng-hide="npoProfileCtrl.isNewUser">Update Profile</button>

      <!-- This is for a Dev who does not exist yet   -->
      <button type="submit" class="btn-std" ng-show="npoProfileCtrl.isNewUser">Save Changes</button>
    </form>
  </section>
</div>
